<!-- <div class='container-fluid'>
    <div class='col-story2'>
        <ngb-carousel style="outline:none" class="no-indicators">
            <ng-template ngbSlide>
                <div class="carousel-item row  active">
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/4.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/5.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/6.jpg">
                    </div>

                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/7.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-black" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/8.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle-gray" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle-gray" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/5.jpg">
                    </div>

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-item row  active">

                    <div class="col-story float-left">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/7.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/8.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/5.jpg">
                    </div>
                    <div class="col-story float-left">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/6.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg">
                    </div>
                    <div class="col-story float-left ">
                        <img class=" rounded-circle circle" height="100" width="100"
                            src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg">
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div> -->

<!-- <div class="container text-center my-3">
    <h3>Bootstrap 4 Multiple Item Carousel</h3>
    <div id="recipeCarousel" (swipeleft)="swipe($event.type)"
    (swiperight)="swipe($event.type)" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/4.jpg"></div>
            </div>
            <div class="carousel-item row no-gutters">
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/5.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/6.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/7.jpg"></div>
                <div class="col-story float-left"><img class="img-fluid rounded-circle" src="https://valor-software.com/ngx-bootstrap/assets/images/nature/8.jpg"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h4>Advances all 4 slides each time</h4>
</div> -->

<!-- header -->
<h4 class=" mt-3 mb-3"><strong>{{header}} <i *ngIf="arrow == true" class="fa fa-angle-right float-right" ></i></strong> </h4>


<!-- story carousel -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" *ngIf="type == 'story'" [config]="slideConfig"
    style="border-bottom: 1px solid rgba(0,0,0,1.12);">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide" width="150">
        <div *ngIf="type == 'story'" class="col-story ">
            <img class=" rounded-circle circle-black" [ngStyle]="{'width': slide.width+'px', 'height': slide.height+'px'}"  src="{{ slide.img }}">
        </div>
        <h6 *ngIf="type == 'story'" style="
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: center;">{{slide.name}}</h6>

    </div>
</ngx-slick-carousel>

<!-- playlist cart carousel -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" *ngIf="type == 'playlist'" [config]="slideConfig"
    style="border-bottom: 1px solid rgba(0,0,0,1.12);">
    <div ngxSlickItem *ngFor="let slide of slides" width="350" >
        <div *ngFor="let data of slide.list"  class="card text-center mb-3 mr-3 flex-row ">
            <div class="card-header border-0 " style="background-color: white;">
                <img class="border-black" [ngStyle]="{'width': data.width+'px', 'height': data.height+'px'}" src="{{ data.img }}" alt="">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title mt-3">{{data.name}}</h4>
            </div>
        </div>
    </div>
</ngx-slick-carousel>

<!-- image  carousel -->
<ngx-slick-carousel class="carousel mb-3" #slickModal="slick-carousel" *ngIf="type == 'image'" [config]="slideConfig"
    style="border-bottom: 1px solid rgba(0,0,0,1.12);">
    <div ngxSlickItem *ngFor="let slide of slides" width="350" >
        <img class="border-black  mb-3" [ngStyle]="{'width': slide.width+'px', 'height': slide.height+'px'}" src="{{ slide.img }}" alt="">
    </div>
</ngx-slick-carousel>


<!-- image text   carousel -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" *ngIf="type == 'image_text'" [config]="slideConfig"
    style="border-bottom: 1px solid rgba(0,0,0,1.12);">
    <div ngxSlickItem *ngFor="let slide of slides" width="350" >
            <img class="border-black  mb-3" [ngStyle]="{'width': slide.width+'px', 'height': slide.height+'px'}" src="{{ slide.img }}" alt="">
            <h6 class="mt-2" style="
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;"><strong>{{slide.name}}</strong></h6>
                    <h6 style="
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;">{{slide.description}}</h6>
    </div>
</ngx-slick-carousel>

<!-- image text list  carousel -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" *ngIf="type == 'image_text_list'" [config]="slideConfig"
    style="border-bottom: 1px solid rgba(0,0,0,1.12);">
    <div ngxSlickItem *ngFor="let slide of slides" width="350" >
        <div *ngFor="let data of slide.list">
            <img class="border-black  mb-3" [ngStyle]="{'width': data.width+'px', 'height': data.height+'px'}" src="{{ data.img }}" alt="">
            <h4 class="mt-2" style="
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;"><strong>{{data.name}}</strong></h4>
                    <h6 style="
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;">{{data.description}}</h6>
        </div>
    </div>
</ngx-slick-carousel>